<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clouthub_app.myapp.clouthub">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cloud"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.clouthub_app.myapp.clouthub.show.CSGOStatsShow"
            android:parentActivityName="com.clouthub_app.myapp.clouthub.transfer.CSGOStatsTransfer"></activity>
        <activity android:name="com.clouthub_app.myapp.clouthub.transfer.CSGOStatsTransfer"
            android:parentActivityName="com.clouthub_app.myapp.clouthub.chooser.StatsChooser"/>
        <activity
            android:name="com.clouthub_app.myapp.clouthub.show.MinecraftNameHistoryShow"
            android:parentActivityName="com.clouthub_app.myapp.clouthub.transfer.MinecraftNameHistoryTransfer" />
        <activity
            android:name="com.clouthub_app.myapp.clouthub.transfer.MinecraftNameHistoryTransfer"
            android:parentActivityName="com.clouthub_app.myapp.clouthub.chooser.StatsChooser" />
        <activity
            android:name="com.clouthub_app.myapp.clouthub.show.SteamGameNewsShow"
            android:parentActivityName="com.clouthub_app.myapp.clouthub.transfer.SteamGameNewsTransfer" />
        <activity
            android:name="com.clouthub_app.myapp.clouthub.transfer.SteamGameNewsTransfer"
            android:parentActivityName="com.clouthub_app.myapp.clouthub.chooser.NewsChooser" />
        <activity android:name="com.clouthub_app.myapp.clouthub.activities.AboutActivity" />
        <activity
            android:name="com.clouthub_app.myapp.clouthub.show.OverwatchStatsShow"
            android:parentActivityName="com.clouthub_app.myapp.clouthub.transfer.OverwatchStatsTransfer" />
        <activity
            android:name="com.clouthub_app.myapp.clouthub.transfer.OverwatchStatsTransfer"
            android:parentActivityName="com.clouthub_app.myapp.clouthub.chooser.StatsChooser" />
        <activity android:name="com.clouthub_app.myapp.clouthub.activities.HomeActivity" />
        <activity android:name="com.clouthub_app.myapp.clouthub.activities.PopularNewsActivity" />
        <activity
            android:name="com.clouthub_app.myapp.clouthub.show.PopularNewsShow"
            android:parentActivityName="com.clouthub_app.myapp.clouthub.chooser.NewsChooser" />
        <activity
            android:name="com.clouthub_app.myapp.clouthub.show.OSUStatsShow"
            android:parentActivityName="com.clouthub_app.myapp.clouthub.transfer.OSUStatsTransfer" />
        <activity
            android:name="com.clouthub_app.myapp.clouthub.transfer.OSUStatsTransfer"
            android:parentActivityName="com.clouthub_app.myapp.clouthub.chooser.StatsChooser" />
        <activity
            android:name="com.clouthub_app.myapp.clouthub.show.FortniteStatsShow"
            android:parentActivityName="com.clouthub_app.myapp.clouthub.transfer.FortniteStatsTransfer" />
        <activity
            android:name="com.clouthub_app.myapp.clouthub.transfer.FortniteStatsTransfer"
            android:parentActivityName="com.clouthub_app.myapp.clouthub.chooser.StatsChooser" />
        <activity android:name="com.clouthub_app.myapp.clouthub.chooser.StatsChooser" />
        <activity
            android:name="com.clouthub_app.myapp.clouthub.show.FortniteNewsShow"
            android:parentActivityName="com.clouthub_app.myapp.clouthub.chooser.NewsChooser" />
        <activity android:name="com.clouthub_app.myapp.clouthub.chooser.NewsChooser" />
        <activity android:name="com.clouthub_app.myapp.clouthub.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.clouthub_app.myapp.clouthub.activities.FortniteNewsActivity" />
    </application>

</manifest>